
@font-face {
  font-family: 'Bodoni'; /* BodoniURWExtWid */
  font-style: normal;
  font-weight: bold;
  font-display: optional;
  src: local('Didot Bold'), local('Didot-Bold'),
    url(/fonts/BodoniURWExtWid-Bol.woff2) format('woff2');
  unicode-range: U+0000-007E, U+00A0-0108, U+0150-165, U+0218-021B, U+02C6-02C7,
    U+2011-2015, U+201C-201E, U+2026, U+2030, U+203E, U+2044, U+20AC, U+2122,
    U+2212, U+2215, U+2248, U+2260, U+2264-2265;
}
