{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "next",
    "next/core-web-vitals"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": "*config.js",
  "rules": {
    "no-console": "warn",
    "no-nested-ternary": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@vcomponents",
            "./components/index.ts"
          ],
          [
            "@vlib",
            "./lib"
          ],
          [
            "@vstyles",
            "./styles"
          ]
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".d.ts",
          ".ts",
          ".tsx",
          ".json",
          ".css"
        ]
      }
    }
  }
}
