:root {
  --size-md: 768px;
  --size-xl: 1280px;
  --size-2xl: 2560px;
  --brand: rgb(52 41 170);
  --brand-secondary: rgb(106 134 207);
  --brand-tint: rgb(163 181 227);
  --brand-accent: rgb(255 154 99);
  --gray-50: rgb(249 250 251);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --gray-300: rgb(209 213 219);
  --gray-400: rgb(156 163 175);
  --gray-600: rgb(75 85 99);
  --gray-700: rgb(55 65 81);
  --gray-800: rgb(31 41 55);
  --gray-900: rgb(17 24 39);
  --blue-200: rgb(191 219 254);
  --blue-400: rgb(96 165 250);
  --blue-500: rgb(59 130 246);
  --blue-900: rgb(30 58 138);
  --red-200: rgb(254 202 202);
  --red-500: rgb(239 68 68);
  --red-800: rgb(153 27 27);
  --red-900: rgb(127 29 29);
  --yellow-300: rgb(253 224 71);
  --yellow-500: rgb(234 179 8);
  --green-300: rgb(134 239 172);
  --green-500: rgb(34 197 94);
  --green-800: rgb(22 101 52);
  --green-900: rgb(20 83 45);
  --indigo-900: rgb(49 46 129);
  --code-line-highlight: rgb(75 85 99 / 0.25);
  --code-line-highlight-hover: rgb(30 58 138 / 0.25);
  --code-line-focus: var(--code-line-highlight);
  --code-line-diff-add: rgb(16 185 129 / 0.16);
  --code-line-diff-remove: rgb(244 63 94 / 0.2);
  --code-line-error: var(--code-line-diff-remove);
  --code-line-warning: rgba(244, 181, 63, 0.4);
}

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Objectivity-Regular.woff2') format('woff2');
  font-family: 'Objectivity';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Objectivity-Bold.woff2') format('woff2');
  font-family: 'Objectivity';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 200 800;
  src: url('/fonts/MonaspaceArgonVarVF.woff2') format('woff2');
  font-family: 'Monaspace Argon';
  font-display: swap;
}

@layer preflight {
  /*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  */

  *,
  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
  }

  /*
  1. Use a consistent sensible line-height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size.
  4. Disable tap highlights on iOS
  */

  html,
  :host {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
    -webkit-tap-highlight-color: transparent; /* 4 */
  }

  /*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Ensure horizontal rules are visible by default.
  */

  hr {
    border-top-width: 1px; /* 3 */
    height: 0; /* 1 */
    color: inherit; /* 2 */
  }

  /*
  Add the correct text decoration in Chrome, Edge, and Safari.
  */

  abbr:where([title]) {
    text-decoration: underline dotted;
  }

  /*
  Remove the default font size and weight for headings.
  */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: inherit;
    font-size: inherit;
  }

  /*
  Reset links to optimize for opt-in styling instead of opt-out.
  */

  a {
    color: inherit;
    text-decoration: inherit;
  }

  /*
  Add the correct font weight in Edge and Safari.
  */

  b,
  strong {
    font-weight: bolder;
  }

  /*
  Add the correct font size in all browsers.
  */

  small {
    font-size: 80%;
  }

  /*
  Prevent `sub` and `sup` elements from affecting the line height in all browsers.
  */

  sub,
  sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  /*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
  */

  table {
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
    text-indent: 0; /* 1 */
  }

  /*
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  3. Remove default padding in all browsers.
  */

  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 0; /* 2 */
    padding: 0; /* 3 */
    color: inherit; /* 1 */
    font-weight: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: inherit; /* 1 */
    font-family: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
  }

  /*
  Remove the inheritance of text transform in Edge and Firefox.
  */

  button,
  select {
    text-transform: none;
  }

  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Remove default button styles.
  */

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    appearance: button; /* 1 */
    background-image: none; /* 2 */
    background-color: transparent; /* 2 */
  }

  /*
  Use the modern Firefox focus style for all focusable elements.
  */

  :-moz-focusring {
    outline: auto;
  }

  /* Focusing with a keyboard will show a dashed black line. */
  :focus-visible {
    outline: 3px solid var(--brand-accent);
  }

  /* Focusing with a mouse, touch, or stylus will not show anything. */
  :focus:not(:focus-visible) {
    outline: none;
  }

  /*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
  */

  :-moz-ui-invalid {
    box-shadow: none;
  }

  /*
  Add the correct vertical alignment in Chrome and Firefox.
  */

  progress {
    vertical-align: baseline;
  }

  /*
  Correct the cursor style of increment and decrement buttons in Safari.
  */

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }

  /*
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */

  [type='search'] {
    appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  /* Remove Safari input shadow on mobile */
  [type='text'],
  [type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /*
  Remove the inner padding in Chrome and Safari on macOS.
  */

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to `inherit` in Safari.
  */

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }

  /*
  Add the correct display in Chrome and Safari.
  */

  summary {
    display: list-item;
  }

  /*
  Removes the default spacing and border for appropriate elements.
  */

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }

  legend {
    padding: 0;
  }

  ol,
  ul,
  menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /*
  Reset default styling for dialogs.
  */
  dialog {
    padding: 0;
  }

  /*
  Prevent resizing textareas horizontally by default.
  */

  textarea {
    resize: vertical;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
  }

  /*
  Set the default cursor for buttons.
  */

  button,
  [role='button'] {
    cursor: pointer;
  }

  /*
  Make sure disabled buttons don't get the pointer cursor.
  */
  :disabled {
    cursor: default;
  }

  /*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  */

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }

  /*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
  */

  img,
  video {
    max-width: 100%;
    height: auto;
  }
}

@layer base {
  /* Stop any animation if the user has set their device to "prefers reduced motion". */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      animation-duration: 0.1s !important;
      transition: none !important;
      transition-duration: 0.1s !important;
    }
  }

  html {
    min-width: 320px;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background-color: var(--gray-900);
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-color: rgb(75 85 99) var(--gray-900);
    color: var(--brand-tint);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Objectivity', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    font-variation-settings: normal;
    font-feature-settings: normal;
  }

  @media (min-width: 768px) {
    body {
      line-height: 1.75rem;
    }
  }

  @media (min-width: 1280px) {
    body {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  @media (min-width: 2560px) {
    body {
      font-size: 1.5rem;
      line-height: 1.625;
    }
  }

  body *::selection {
    background-color: var(--gray-100);
    color: var(--brand);
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0.875em;
    color: var(--gray-100);
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h2 {
    margin-top: 1.6em;
    margin-bottom: 0.75em;
    color: var(--brand-tint);
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h3,
  h4 {
    margin-top: 1.55em;
    margin-bottom: 0.6em;
    font-weight: 600;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  h4 {
    line-height: 1.25rem;
  }

  :is(h2, h3, h4) {
    scroll-margin-top: 3rem;
  }

  :is(h2, h3, h4) + * {
    margin-top: 0px;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 65ch;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 1;
    }

    h3 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    h4 {
      line-height: 1;
    }

    p {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }

  @media (min-width: 1280px) {
    h1 {
      font-size: 4.5rem;
      line-height: 1;
    }

    h2 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }

  @media (min-width: 2560px) {
    h1 {
      font-size: 4.5rem;
      line-height: 1;
    }

    h2 {
      font-size: 4.5rem;
      line-height: 1;
    }

    h3 {
      font-size: 2.25rem;
      line-height: 1.25;
    }

    p {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  figure > * {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  a {
    position: relative;
    color: var(--brand-accent);
    font-weight: 700;
    text-decoration-line: none;
  }

  a:hover {
    color: var(--brand-accent);
  }

  a:focus-visible {
    outline: none;
  }

  a::after {
    position: absolute;
    bottom: -0.5rem;
    left: 0px;
    transform: scaleX(0);
    transform-origin: right;
    transition-duration: 500ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: currentColor;
    width: 100%;
    height: 0.25rem;
    content: '';
  }

  :is(a:hover, a:focus)::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  nav {
    display: flex;
    position: sticky;
    top: 0px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    z-index: 10;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-right: auto;
    margin-left: auto;
    background: rgb(17 24 39 / 0.2);
    padding: 1rem 1.5rem;
    width: 100%;
    max-width: 65ch;
  }
  @media (min-width: 1280px) {
    nav {
      padding: 1rem 4rem;
      max-width: calc(65ch + 8rem - 2 * 1.5rem);
    }
  }
  @media (min-width: 2560px) {
    nav {
      max-width: calc(80rem + 8rem - 2 * 1.5rem);
    }
  }

  article {
    margin-right: auto;
    margin-left: auto;
    padding: 2rem 1.5rem 8rem;
    width: 100%;
    max-width: 65ch;
  }
  @media (min-width: 2560px) {
    article {
      max-width: 80rem;
    }
  }

  footer {
    margin-right: auto;
    margin-left: auto;
    border-top-width: 2px;
    border-color: var(--brand-accent);
    padding: 3.5rem 1.5rem;
    max-width: 65ch;
  }

  @media (min-width: 2560px) {
    footer {
      max-width: 80rem;
    }
  }

  .footer-highlight {
    color: var(--brand-accent);
    font-weight: 700;
  }

  /* Quotes */
  blockquote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-left-width: 4px;
    border-color: var(--gray-700);
    padding-left: 1rem;
    quotes: '\\201C' '\\201D' '\\2018' '\\2019';
    color: var(--gray-300);
    font-style: italic;
    font-weight: 500;
  }

  @media (min-width: 768px) {
    blockquote {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-left: 1.25rem;
    }
  }

  @media (min-width: 2560px) {
    blockquote {
      margin-top: 4rem;
      margin-bottom: 4rem;
      padding-left: 2rem;
    }
  }

  @layer lists {
    ol,
    ul {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    li,
    ul > li p {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    ol > li {
      position: relative;
      padding-left: 1.25rem;
    }

    ul > li {
      position: relative;
      margin-left: 1.25rem;
      list-style-type: disc;
    }

    ol > li::before {
      position: absolute;
      left: 0px;
      content: counter(list-item, decimal) '.';
      color: currentColor;
      font-weight: 400;
    }

    ul > li::marker {
      color: currentColor;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    :is(ol, ul) > li > *:first-child {
      margin-top: 1rem;
    }

    :is(ol, ul) > li > *:last-child {
      margin-bottom: 1rem;
    }

    ul ul,
    ul ol,
    ol ul,
    ol ol {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }

    @media (min-width: 768px) {
      ol,
      ul {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
      }

      li,
      ul > li p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      ol > li {
        padding-left: 1.75rem;
      }

      ul > li {
        margin-left: 1.75rem;
      }

      ul > li::marker {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }

      :is(ol, ul) > li > *:first-child {
        margin-top: 1.25rem;
      }

      :is(ol, ul) > li > *:last-child {
        margin-bottom: 1.25rem;
      }

      :is(h2, h3, h4) {
        scroll-margin-top: 8rem;
      }
    }

    @media (min-width: 2560px) {
      ol,
      ul {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      li,
      ul > li p {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
      }

      ol > li {
        padding-left: 2.5rem;
      }

      ul > li {
        margin-left: 2.5rem;
      }

      ul > li::marker {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }

      :is(ol, ul) > li > *:first-child {
        margin-top: 2rem;
      }

      :is(ol, ul) > li > *:last-child {
        margin-bottom: 2rem;
      }

      ul ul,
      ul ol,
      ol ul,
      ol ol {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  @layer code {
    code,
    kbd,
    samp,
    pre {
      font-size: 1em;
      font-family: 'Monaspace Argon', ui-monospace, SFMono-Regular, Menlo, monospace;
      font-variation-settings: normal;
      font-feature-settings: normal;
    }

    [data-rehype-pretty-code-figure] {
      margin: 1rem calc(min(calc((-100vw + 65ch) / 2), 0px) - 1.5rem);
    }

    [data-rehype-pretty-code-title] {
      transition-duration: 150ms;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      border-width: 1px 0 0;
      border-color: var(--gray-800);
      background-color: var(--gray-800);
      padding: 0.5rem 4rem;
      color: var(--gray-200);
      font-weight: 800;
      font-family: 'Monaspace Argon', ui-monospace, SFMono-Regular, Menlo, monospace;
    }

    [data-rehype-pretty-code-caption] {
      transition-duration: 150ms;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      border-width: 0 0 1px;
      border-color: var(--gray-800);
      background-color: var(--gray-800);
      padding: 0.5rem 1.5rem;
      color: var(--gray-200);
    }

    pre {
      border-color: var(--gray-800);
      background-color: var(--gray-900);
      overflow-x: auto;
      color: var(--gray-200);
      -ms-overflow-style: none; /* IE and Edge */
      transition-duration: 150ms;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      border-width: 1px;
      border-right-width: 0px;
      border-left-width: 0px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      scrollbar-width: none; /* Firefox */
    }

    @media (min-width: 1280px) {
      [data-rehype-pretty-code-figure] {
        margin: 1.5rem -4rem;
      }
      [data-rehype-pretty-code-title] {
        border-right-width: 1px;
        border-left-width: 1px;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      [data-rehype-pretty-code-caption] {
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        padding: 1rem 4rem;
      }
      pre {
        border-right-width: 1px;
        border-left-width: 1px;
        border-radius: 0.5rem;
      }
    }

    [data-rehype-pretty-code-figure] pre:not(:first-child) {
      margin-top: 0px;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }

    [data-rehype-pretty-code-figure] pre:not(:last-child) {
      margin-bottom: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    [data-rehype-pretty-code-figure]:hover
      :is([data-rehype-pretty-code-title], [data-rehype-pretty-code-caption], pre) {
      border-color: var(--gray-600);
    }

    code {
      border-radius: 0.25rem;
      background-color: var(--gray-900);
      color: var(--gray-200);
      font-weight: 400;
    }

    a code {
      color: var(--brand-accent);
    }

    h2 code,
    h3 code {
      font-size: inherit;
    }

    [data-rehype-pretty-code-figure] code {
      display: grid;
      counter-reset: line;
      box-sizing: border-box;
      background-color: transparent;
      padding-right: 1rem;
      padding-left: 4rem;
      min-width: 100%;
    }

    [data-rehype-pretty-code-figure] code[data-language='bash'] {
      --counter-content: '$';
    }

    [data-rehype-pretty-code-figure] [data-line] {
      position: relative;
    }

    [data-rehype-pretty-code-figure] [data-line]::before {
      display: inline-block;
      position: absolute;
      left: -4rem;
      transition-duration: 150ms;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      counter-increment: line;
      border-left-width: 4px;
      border-style: solid;
      border-color: transparent;
      padding-left: 0.5rem;
      width: calc(100% + 5rem);
      content: var(--counter-content, counter(line));
      color: var(--gray-600);
      user-select: none;
    }

    [data-rehype-pretty-code-figure] [data-line] > span {
      position: relative;
      transition-duration: 150ms;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* Shikiji transformer styles */

    /* append to line: `// [!code highlight]` */
    [data-rehype-pretty-code-figure] .has-highlighted [data-line].highlighted::before {
      background-color: var(--code-line-highlight);
    }

    [data-rehype-pretty-code-figure]:hover .has-highlighted [data-line].highlighted::before {
      border-color: currentColor;
      background-color: var(--code-line-highlight-hover);
      color: var(--blue-400);
    }

    [data-rehype-pretty-code-figure]:not(:hover) .has-highlighted [data-line]:not(.highlighted) > span {
      color: var(--gray-700) !important;
    }

    /* append to line: `[!code focus]` */
    [data-rehype-pretty-code-figure] .has-focused [data-line].focused::before {
      border-color: currentColor;
      background-color: var(--code-line-focus);
    }

    [data-rehype-pretty-code-figure]:not(:hover) .has-focused [data-line]:not(.focused) {
      filter: blur(0.095rem);
    }

    /* append to line: `// [!code ++]` */
    [data-rehype-pretty-code-figure] .has-diff [data-line].add::before {
      border-color: currentColor;
      background-color: var(--code-line-diff-add);
      color: var(--green-500);
      --counter-content: '+';
    }

    /* append to line: `// [!code --]` */
    [data-rehype-pretty-code-figure] .has-diff [data-line].remove::before {
      border-color: currentColor;
      background-color: var(--code-line-diff-remove);
      color: var(--red-500);
      --counter-content: '-';
    }

    /* append to line: `// [!code error]` or `// [!code warning]` */
    [data-rehype-pretty-code-figure] .has-error [data-line].error::before {
      background-color: var(--code-line-error);
      color: var(--red-500);
    }
    [data-rehype-pretty-code-figure] .has-error [data-line].warning::before {
      background-color: var(--code-line-warning);
      color: var(--gray-100);
    }
  }
}

@layer utilities {
  @layer utilities-core {
    .block {
      display: block;
    }

    .inline-block {
      display: inline-block;
    }

    .relative {
      position: relative;
    }

    .hidden {
      display: none;
    }

    @media (min-width: 768px) {
      .hidden-md {
        display: none;
      }
      .inline-block-md {
        display: inline-block;
      }
    }

    @media (min-width: 2560px) {
      .hidden-2xl {
        display: hidden;
      }
    }

    .visually-hidden:not(:focus):not(:active) {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      white-space: nowrap;
    }

    .pseudo-none::before,
    .pseudo-none:hover::before,
    .pseudo-none:focus::before,
    .pseudo-none::after,
    .pseudo-none:hover::after,
    .pseudo-none:focus::after,
    pre::-webkit-scrollbar {
      display: none !important;
    }

    .cta {
      margin-bottom: 0.5rem;
      border-width: 2px;
      border-color: currentColor;
      padding: 0.5rem 1rem;
      color: var(--brand-accent);
    }

    .cta:hover {
      color: var(--brand-accent);
    }

    /*** rehype-autolink-headings ***/
    .icon-link-anchor {
      position: absolute;
      transform: scaleX(0.75) scaleY(0.75);
      opacity: 0;
      margin-left: -2rem;
      color: var(--gray-400);
      text-decoration-line: none;
    }

    .icon-link-anchor:hover {
      text-decoration-line: none;
    }

    .icon-link-anchor:hover {
      color: var(--brand-accent);
    }

    :is(h1, h2, h3, h4):hover > .icon-link-anchor {
      opacity: 1;
    }

    .icon-link::before {
      content: '#';
    }

    @media (min-width: 1280px) {
      .icon-link-anchor {
        margin-left: -2.5rem;
      }
    }

    @media (min-width: 2560px) {
      .icon-link-anchor {
        margin-left: -5rem;
      }
    }

    .divider-before {
      --divider-color: var(--brand);
      margin-top: 35px;
    }

    .divider-before::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
      background: var(--divider-color);
      width: 100%;
      height: 35px;
      content: '';
    }

    .divider-after {
      --divider-color: var(--brand);
      margin-bottom: 35px;
    }

    .divider-after::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
      background: var(--divider-color);
      width: 100%;
      height: 35px;
      content: '';
    }

    .divider-accent {
      --divider-color: var(--brand-accent);
    }
  }

  @layer animations {
    /* Cursor animation */
    .cursor {
      animation: 0.6s linear infinite alternate cursor;
    }

    @keyframes cursor {
      0%,
      40% {
        opacity: 1;
      }
      60%,
      100% {
        opacity: 0;
      }
    }

    /* Typing animation */
    .type {
      animation: 2.7s ease-out 0.8s infinite alternate both type;
    }

    @keyframes type {
      0% {
        transform: translateX(0ch);
      }
      5%,
      10% {
        transform: translateX(1ch);
      }
      15%,
      20% {
        transform: translateX(2ch);
      }
      25%,
      30% {
        transform: translateX(3ch);
      }
      35%,
      40% {
        transform: translateX(4ch);
      }
      45%,
      50% {
        transform: translateX(5ch);
      }
      55%,
      60% {
        transform: translateX(6ch);
      }
      65%,
      70% {
        transform: translateX(7ch);
      }
      75%,
      80% {
        transform: translateX(8ch);
      }
      85%,
      90% {
        transform: translateX(9ch);
      }
      95%,
      100% {
        transform: translateX(11ch);
      }
    }

    @keyframes pulse {
      50% {
        opacity: 0.5;
      }
    }
  }
}

@layer components {
  @layer logo-animation {
    /***************************************************
    * Generated by SVG Artista on 3/25/2021, 2:10:58 PM
    * MIT license (https://opensource.org/licenses/MIT)
    * W. https://svgartista.net
    **************************************************/

    .logoSvg {
      stroke-dashoffset: 2526.631103515625px;
      stroke-dasharray: 2526.631103515625px;
      fill: transparent;
      transition:
        stroke-dashoffset 1.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.85s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
    }

    .active .logoSvg {
      stroke-dashoffset: 0;
      fill: currentColor;
    }

    .logotypeSvg {
      transform-origin: right;
    }

    @media (max-width: 520px) {
      .logotypeSvg {
        transform: scale(0.7) translateX(30px);
      }
    }
  }

  @layer hint {
    /*** remark-hint styling ***/
    .hint {
      border-width: 1px;
      padding: 1rem;
      max-width: none;
    }

    .hint.tip {
      border-color: var(--blue-500);
      background-color: var(--blue-900);
      color: var(--blue-200);
    }

    .hint.tip::selection {
      background-color: var(--gray-50);
      color: var(--blue-900);
    }

    .hint.warn {
      border-color: var(--yellow-300);
      background-color: var(--yellow-500);
      color: var(--gray-900);
    }

    .hint.warn::selection {
      background-color: var(--gray-50);
      color: var(--gray-900);
    }

    .hint.error {
      border-color: var(--red-900);
      background-color: var(--red-800);
      color: var(--red-200);
    }

    .hint.error::selection {
      background-color: var(--gray-50);
      color: var(--red-900);
    }

    @media (min-width: 1280px) {
      .hint {
        margin-left: -4rem;
        border-radius: 0.5rem;
        padding-right: 4rem;
        padding-left: 4rem;
      }
    }
  }

  @layer animated-header {
    .animated-header {
      margin-bottom: 0.5rem;
      overflow: hidden;
      color: var(--gray-100);
      /* Although they look good, they mess the animation timing, so disabling temporarily */
      /* font-style: oblique 8deg;
      font-stretch: 110%; */
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-family: 'Monaspace Argon', ui-monospace, SFMono-Regular, Menlo, monospace;
    }
    @media (min-width: 1280px) {
      .animated-header {
        font-size: 3.5rem;
        line-height: 1;
      }
    }

    .animated-header-highlight {
      padding-top: 0.5rem;
      overflow-x: hidden;
      color: var(--brand-accent);
      white-space: nowrap;
    }

    .animated-header .emoji {
      font-size: 2rem;
      line-height: 2.25rem;
    }
    @media (min-width: 1280px) {
      .animated-header .emoji {
        font-size: 3rem;
        line-height: 1;
      }
    }

    .animated-header .indicator {
      display: inline-block;
      position: absolute;
      top: -0.25rem;
      bottom: 0;
      left: 0;
      will-change: transform;
      background-color: var(--gray-900);
      width: 100%;
    }
    .animated-header .indicator::after {
      display: block;
      position: absolute;
      animation: 0.6s linear infinite alternate cursor;
      background-color: var(--gray-100);
      width: 0.5rem;
      height: 100%;
      content: '';
    }
  }

  @layer experience {
    .experience .ee-entry:first-child .ee-title {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .experience .ee-entry:not(:first-child) .ee-title {
      margin-top: 1.25rem;
      margin-bottom: 0px;
    }

    .experience .ee-subtitle {
      margin-top: 0;
      margin-bottom: 0.5rem;
      color: var(--brand-tint);
      font-weight: 600;
      line-height: 1rem;
    }

    .experience [role='tablist'] {
      display: flex;
      cursor: pointer;
      margin: 0;
      border-width: 2px;
      border-bottom-width: 0px;
      background-color: var(--indigo-900);
      overflow-x: scroll;
      color: var(--gray-100);
    }
    @media (min-width: 768px) {
      .experience [role='tablist'] {
        overflow: hidden;
      }
    }

    .experience [role='tablist'] li {
      margin: 0;
      border-bottom-width: 2px;
      padding: 0.5rem 1.25rem;
      font-weight: 700;
      list-style: none;
    }
    .experience [role='tablist'] li[aria-selected='true'] {
      border-bottom-width: 0px;
      background-color: var(--brand);
    }

    .experience [role='tablist'] li:focus-visible {
      outline: 2px solid var(--gray-100);
      background-color: var(--brand);
    }
    /* Extra dummy visual tab to complete the tabbar */
    .experience [role='tablist'] > div {
      display: block;
      flex-grow: 1;
      border-bottom-width: 2px;
    }

    .experience [role='tabpanel'] {
      border-width: 2px;
      border-top-width: 0;
      padding: 2rem 1rem 1rem;
      width: 100%;
    }
    .experience [role='tabpanel']:focus-visible {
      border-color: var(--brand-accent);
    }
  }

  @layer tags {
    .tags {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .tags span {
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.25rem;
      white-space: nowrap;
    }

    .tags .ee-skill {
      background-color: var(--indigo-900);
    }

    .tags :is(.tag-article, .tag-blog) {
      border-width: 2px;
      border-color: currentColor;
      border-radius: 1rem;
      background-color: transparent;
      color: var(--brand-tint);
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.1em;
    }

    .tags .tag-blog {
      padding: 0.5rem 1rem;
    }
  }

  @layer reason-list {
    .reason-list {
      margin: 0 1.5rem;
      border-width: 1px;
      border-color: var(--green-900);
      border-radius: 0.25rem;
      background-color: var(--green-800);
      padding: 0 1.5rem;
      max-width: none;
      color: var(--gray-100);
    }

    @media (min-width: 1280px) {
      .reason-list {
        margin: 0 -4rem;
        padding: 0 4rem;
      }
    }

    .reason-list.negative {
      border-color: var(--red-900);
      background-color: var(--red-800);
    }

    .reason-list li {
      display: flex;
      align-items: baseline;
      margin: 0 0 0.5rem;
      font-weight: 500;
    }

    .reason-list svg {
      margin-top: 0px;
      margin-right: 0.5rem;
      padding-top: 0.125rem;
      width: 1rem;
      height: 1rem;
      color: var(--green-300);
    }

    .reason-list.negative svg {
      color: var(--red-200);
    }

    .reason-list span {
      margin-bottom: 0;
    }
  }

  @layer arrow-link {
    .arrow-links {
      margin-top: 3rem;
      margin-bottom: 3rem;
      border-top-width: 2px;
      border-color: var(--brand-secondary);
      padding-top: 1.5rem;
    }

    .arrow-link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 1rem;
      width: 100%;
    }

    .arrow-link svg {
      display: inline-block;
      vertical-align: middle;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      margin-left: 0.5rem;
    }
  }
}

@layer pages {
  @layer homepage {
    .tag-home {
      background-color: var(--gray-800);
      color: var(--brand-accent);
    }

    .home {
      margin: 0 auto;
      padding: 2rem 0 8rem;
      width: 100%;
      max-width: 65ch;
    }
    @media (min-width: 768px) {
      .home {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }
    @media (min-width: 2560px) {
      .home {
        max-width: 72rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }

    .home .highlight {
      border-bottom-width: 2px;
      border-color: var(--brand-accent);
    }

    .home section {
      position: relative;
      margin-right: auto;
      margin-left: auto;
      padding-right: 1rem;
      padding-left: 1rem;
      padding-block: 3rem;
      width: 100%;
      overflow: visible;
      content-visibility: auto;
      contain-intrinsic-size: 1px 1000px;
    }

    @media (min-width: 768px) {
      .home section {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        max-width: 48rem;
      }
    }
    @media (min-width: 2560px) {
      .home section {
        max-width: 72rem;
      }
    }

    .home section.section-fold {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4rem 1.5rem;
      min-height: 100vh;
      text-align: left;
    }

    .section-fold .subheading {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    @media (min-width: 768px) {
      .section-fold .subheading {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
    }

    .section-fold header {
      margin-bottom: 4rem;
    }

    .section-fold p {
      max-width: 42rem;
    }
    @media (min-width: 768px) {
      .section-fold p {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }
    @media (min-width: 2560px) {
      .section-fold p {
        max-width: 64rem;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .section-fold .links {
      display: flex;
      column-gap: 0.5rem;
      flex-flow: row wrap;
      margin-top: 2rem;
    }

    .home section.section-tech {
      background-color: var(--brand-accent);
      color: var(--gray-800);
      font-weight: 700;
    }

    .section-tech .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -3rem;
      margin-bottom: -3rem;
      width: 100%;
    }

    .section-tech .logo path {
      stroke: currentColor;
      will-change: transform;
      color: var(--gray-900);
    }

    .section-tech h2 {
      color: var(--gray-900);
    }
    .section-tech .tags-heading {
      display: block;
      font-weight: 700;
    }

    .home section.section-experience {
      background-color: var(--brand);
      color: var(--gray-100);
    }
    .section-experience h2 {
      color: var(--gray-100);
    }

    .section-experience .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .section-experience .logo path {
      stroke: currentColor;
      will-change: transform;
      color: var(--gray-100);
    }

    .home section.section-blog {
      margin-block: 4rem;
    }
    .section-blog .post {
      padding-block: 1rem;
    }
    .section-blog .post p:first-child {
      margin-block: 0;
    }
    .section-blog .post p:last-child {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    .section-blog .additional {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .section-blog .additional span {
      padding-right: 1rem;
    }
    @media (min-width: 768px) {
      .section-blog .additional span {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }

    .home section.section-contact {
      margin-bottom: 6rem;
    }
    .home section.section-contact > div {
      display: flex;
      column-gap: 1rem;
      flex-flow: row wrap;
      margin-bottom: 2rem;
    }
    @media (min-width: 1280px) {
      .home section.section-contact > div {
        column-gap: 2rem;
      }
    }
    .home section.section-contact a {
      will-change: transform;
      border-radius: 9999px;
      background-color: var(--gray-900);
      width: 3rem;
      height: 3rem;
      color: var(--gray-100);
    }
    .home section.section-contact a:is(:focus-visible, :hover) {
      outline: 3px solid var(--brand-accent);
      outline-offset: 5px;
    }
  }

  @layer blog {
    .blog {
      margin: auto;
      padding: 2rem 1.5rem 8rem;
      width: 100%;
      max-width: 65ch;
    }
    @media (min-width: 1280px) {
      .blog {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }
    @media (min-width: 2560px) {
      .blog {
        max-width: 72rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }

    .blog p {
      margin: 0.25rem 0;
      overflow-wrap: break-word;
    }

    .blog .cta {
      margin-top: 0.5rem;
    }

    .blog-post {
      padding: 1rem 0;
    }

    .blog-tags {
      display: flex;
      padding-top: 1rem;
    }
    @media (min-width: 1280px) {
      .blog-tags {
        display: inline-block;
        padding: 0 1rem 0;
      }
    }
  }

  @layer article {
    .article-time {
      margin-top: -1rem;
      color: var(--brand-secondary);
      font-weight: 700;
    }
    @media (min-width: 1280px) {
      .article-time {
        margin-top: -2rem;
      }
    }
    article .tags {
      padding: 1rem 0;
    }
    .article-container {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
  }

  @layer brand-book {
    .brand-book {
      position: relative;
      bottom: 0px;
      margin-top: 0.5rem;
      background-color: var(--gray-900);
      padding-right: 1rem;
      padding-left: 1rem;
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-align: center;
      scroll-snap-type: y mandatory;
    }

    .brand-book .page {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
      height: 100%;
      scroll-snap-align: center;
    }

    .brand-book .page img {
      aspect-ratio: 16 / 9;
      max-height: 100%;
      object-fit: cover;
    }
  }
}
