.andromeeda {
  --andromeeda-background: #23262E;
  --andromeeda-foreground: #D5CED9;
  --andromeeda-fg-0: #A0A1A7cc;
  --andromeeda-fg-1: #D5CED9;
  --andromeeda-fg-2: #00e8c6;
  --andromeeda-fg-3: #f39c12;
  --andromeeda-fg-4: #FFE66D;
  --andromeeda-fg-5: #ff00aa;
  --andromeeda-fg-6: #f92672;
  --andromeeda-fg-7: #c74ded;
  --andromeeda-fg-8: #7cb7ff;
  --andromeeda-fg-9: #ee5d43;
  --andromeeda-fg-10: #96E072;
  --andromeeda-fs-0: underline;
}
.dark-plus {
  --dark-plus-fg-0: #D4D4D4;
  --dark-plus-fg-1: #000080;
  --dark-plus-fg-2: #6A9955;
  --dark-plus-fg-3: #569cd6;
  --dark-plus-fg-4: #b5cea8;
  --dark-plus-fg-5: #646695;
  --dark-plus-fg-6: #d7ba7d;
  --dark-plus-fg-7: #9cdcfe;
  --dark-plus-fg-8: #f44747;
  --dark-plus-fg-9: #ce9178;
  --dark-plus-fg-10: #6796e6;
  --dark-plus-fg-11: #808080;
  --dark-plus-fg-12: #d16969;
  --dark-plus-fg-13: #d4d4d4;
  --dark-plus-fg-14: #DCDCAA;
  --dark-plus-fg-15: #4EC9B0;
  --dark-plus-fg-16: #C586C0;
  --dark-plus-fg-17: #9CDCFE;
  --dark-plus-fg-18: #4FC1FF;
  --dark-plus-fg-19: #CE9178;
  --dark-plus-fg-20: #C8C8C8;
  --dark-plus-fs-0: italic;
  --dark-plus-fs-1: bold;
  --dark-plus-fs-2: underline;
  --dark-plus-fs-3: strikethrough;
}
.material-theme-lighter {
  --material-theme-lighter-background: #FAFAFA;
  --material-theme-lighter-foreground: #90A4AE;
  --material-theme-lighter-fg-0: #91B859;
  --material-theme-lighter-fg-1: #39ADB5;
  --material-theme-lighter-fg-2: #90A4AE;
  --material-theme-lighter-fg-3: #FF5370;
  --material-theme-lighter-fg-4: #F76D47;
  --material-theme-lighter-fg-5: #6182B8;
  --material-theme-lighter-fg-6: #9C3EDA;
  --material-theme-lighter-fg-7: #E53935;
  --material-theme-lighter-fg-8: #E2931D;
  --material-theme-lighter-fg-9: #8796B0;
  --material-theme-lighter-fg-10: #90A4AE90;
  --material-theme-lighter-fg-11: #916b53;
  --material-theme-lighter-fs-0: italic;
  --material-theme-lighter-fs-1: bold;
  --material-theme-lighter-fs-2: italic bold;
  --material-theme-lighter-fs-3: underline;
}
.material-theme-ocean {
  --material-theme-ocean-background: #0F111A;
  --material-theme-ocean-foreground: #babed8;
  --material-theme-ocean-fg-0: #C3E88D;
  --material-theme-ocean-fg-1: #89DDFF;
  --material-theme-ocean-fg-2: #babed8;
  --material-theme-ocean-fg-3: #ff9cac;
  --material-theme-ocean-fg-4: #F78C6C;
  --material-theme-ocean-fg-5: #82AAFF;
  --material-theme-ocean-fg-6: #C792EA;
  --material-theme-ocean-fg-7: #f07178;
  --material-theme-ocean-fg-8: #FFCB6B;
  --material-theme-ocean-fg-9: #464B5D;
  --material-theme-ocean-fg-10: #B2CCD6;
  --material-theme-ocean-fg-11: #babed890;
  --material-theme-ocean-fg-12: #916b53;
  --material-theme-ocean-fs-0: italic;
  --material-theme-ocean-fs-1: bold;
  --material-theme-ocean-fs-2: italic bold;
  --material-theme-ocean-fs-3: underline;
}
.material-theme-palenight {
  --material-theme-palenight-background: #292D3E;
  --material-theme-palenight-foreground: #babed8;
  --material-theme-palenight-fg-0: #C3E88D;
  --material-theme-palenight-fg-1: #89DDFF;
  --material-theme-palenight-fg-2: #babed8;
  --material-theme-palenight-fg-3: #ff9cac;
  --material-theme-palenight-fg-4: #F78C6C;
  --material-theme-palenight-fg-5: #82AAFF;
  --material-theme-palenight-fg-6: #C792EA;
  --material-theme-palenight-fg-7: #f07178;
  --material-theme-palenight-fg-8: #FFCB6B;
  --material-theme-palenight-fg-9: #676E95;
  --material-theme-palenight-fg-10: #B2CCD6;
  --material-theme-palenight-fg-11: #babed890;
  --material-theme-palenight-fg-12: #916b53;
  --material-theme-palenight-fs-0: italic;
  --material-theme-palenight-fs-1: bold;
  --material-theme-palenight-fs-2: italic bold;
  --material-theme-palenight-fs-3: underline;
}
.min-light {
  --min-light-foreground: #24292eff;
  --min-light-fg-0: #24292eff;
  --min-light-fg-1: #1976D2;
  --min-light-fg-2: #2b5581;
  --min-light-fg-3: #c2c3c5;
  --min-light-fg-4: #D32F2F;
  --min-light-fg-5: #FF9800;
  --min-light-fg-6: #6f42c1;
  --min-light-fg-7: #22863a;
  --min-light-fg-8: #316bcd;
  --min-light-fg-9: #cd9731;
  --min-light-fg-10: #cd3131;
  --min-light-fg-11: #800080;
  --min-light-fg-12: #212121;
  --min-light-fg-13: #d32f2f;
  --min-light-fs-0: italic;
  --min-light-fs-1: bold;
  --min-light-fs-2: underline;
}
.moonlight-ii {
  --moonlight-ii-fg-0: #858aa6;
  --moonlight-ii-fg-1: #c8d3f5;
  --moonlight-ii-fg-2: #ffc777;
  --moonlight-ii-fg-3: #7f85a3;
  --moonlight-ii-fg-4: #ffffff;
  --moonlight-ii-fg-5: #ff5370;
  --moonlight-ii-fg-6: #c099ff;
  --moonlight-ii-fg-7: #86e1fc;
  --moonlight-ii-fg-8: #ff757f;
  --moonlight-ii-fg-9: #82aaff;
  --moonlight-ii-fg-10: #65bcff;
  --moonlight-ii-fg-11: #ff98a4;
  --moonlight-ii-fg-12: #ff966c;
  --moonlight-ii-fg-13: #fca7ea;
  --moonlight-ii-fg-14: #c3e88d;
  --moonlight-ii-fg-15: #4fd6be;
  --moonlight-ii-fg-16: #a9b8e8;
  --moonlight-ii-fg-17: #b4f9f8;
  --moonlight-ii-fg-18: #fc7b7b;
  --moonlight-ii-fg-19: #828bb8;
  --moonlight-ii-fg-20: #b4c2f0;
  --moonlight-ii-fs-0: bold;
  --moonlight-ii-fs-1: underline;
  --moonlight-ii-fs-2: italic;
}
.my-eyes-please {
  --my-eyes-please-fg-0: #333942;
  --my-eyes-please-fg-1: #384457;
  --my-eyes-please-fg-2: #df5e65;
  --my-eyes-please-fg-3: #ffffff;
  --my-eyes-please-fg-4: #FF5370;
  --my-eyes-please-fg-5: #f0cc62;
  --my-eyes-please-fg-6: #68a6e0;
  --my-eyes-please-fg-7: #5298d1;
  --my-eyes-please-fg-8: #f07178;
  --my-eyes-please-fg-9: #8fa866;
  --my-eyes-please-fg-10: #e2714e;
  --my-eyes-please-fg-11: #59b47c;
  --my-eyes-please-fg-12: #398b59;
  --my-eyes-please-fg-13: #C792EA;
  --my-eyes-please-fg-14: #e2854f;
  --my-eyes-please-fg-15: #82AAFF;
  --my-eyes-please-fg-16: #f09b62;
  --my-eyes-please-fg-17: #C3E88D;
  --my-eyes-please-fg-18: #89DDFF;
  --my-eyes-please-fg-19: #d1dae6;
  --my-eyes-please-fg-20: #618c8f;
  --my-eyes-please-fg-21: #ae70d8;
  --my-eyes-please-fg-22: #d35b6f;
  --my-eyes-please-fg-23: #3d95a5;
  --my-eyes-please-fg-24: #547dd6;
  --my-eyes-please-fg-25: #df6d73;
  --my-eyes-please-fg-26: #a0ca60;
  --my-eyes-please-fg-27: #EEFFFF;
  --my-eyes-please-fg-28: #65737E;
  --my-eyes-please-fg-29: #cccbcb;
  --my-eyes-please-fg-30: #86bae6;
  --my-eyes-please-fg-31: #FFCB6B;
  --my-eyes-please-fg-32: #00000050;
  --my-eyes-please-fs-0: italic;
  --my-eyes-please-fs-1: bold italic;
  --my-eyes-please-fs-2: underline;
  --my-eyes-please-fs-3: bold;
}
.one-dark-pro {
  --one-dark-pro-fg-0: #abb2bf;
  --one-dark-pro-fg-1: #e06c75;
  --one-dark-pro-fg-2: #c678dd;
  --one-dark-pro-fg-3: #d19a66;
  --one-dark-pro-fg-4: #e5c07b;
  --one-dark-pro-fg-5: #61afef;
  --one-dark-pro-fg-6: #5c6370;
  --one-dark-pro-fg-7: #98c379;
  --one-dark-pro-fg-8: #56b6c2;
  --one-dark-pro-fg-9: #ffffff;
  --one-dark-pro-fg-10: #f44747;
  --one-dark-pro-fg-11: #7f848e;
  --one-dark-pro-fg-12: #BE5046;
  --one-dark-pro-fs-0: italic;
  --one-dark-pro-fs-1: underline;
}
.red {
  --red-foreground: #F8F8F8;
  --red-fg-0: #F8F8F8;
  --red-fg-1: #e7c0c0ff;
  --red-fg-2: #994646ff;
  --red-fg-3: #f12727ff;
  --red-fg-4: #fec758ff;
  --red-fg-5: #ff6262ff;
  --red-fg-6: #cd8d8dff;
  --red-fg-7: #9df39fff;
  --red-fg-8: #fb9a4bff;
  --red-fg-9: #ffffffff;
  --red-fg-10: #aa5507ff;
  --red-fg-11: #ec0d1e;
  --red-fg-12: #ffe862ff;
  --red-fg-13: #ffb454ff;
  --red-fg-14: #edef7dff;
  --red-fg-15: #eb939aff;
  --red-fg-16: #73817dff;
  --red-fg-17: #ec0d1eff;
  --red-fg-18: #41a83eff;
  --red-fg-19: #96dd3bff;
  --red-fg-20: #fd6209ff;
  --red-fg-21: #ec9799ff;
  --red-fg-22: #f8f8f8ff;
  --red-fs-0: italic;
  --red-fs-1: bold;
  --red-fs-2: underline;
  --red-fs-3: strikethrough;
}
.solarized-light {
  --solarized-light-foreground: #657B83;
  --solarized-light-fg-0: #657B83;
  --solarized-light-fg-1: #93A1A1;
  --solarized-light-fg-2: #2AA198;
  --solarized-light-fg-3: #DC322F;
  --solarized-light-fg-4: #D33682;
  --solarized-light-fg-5: #268BD2;
  --solarized-light-fg-6: #859900;
  --solarized-light-fg-7: #586E75;
  --solarized-light-fg-8: #CB4B16;
  --solarized-light-fg-9: #B58900;
  --solarized-light-fg-10: #6C71C4;
  --solarized-light-fs-0: italic;
  --solarized-light-fs-1: bold;
  --solarized-light-fs-2: strikethrough;
}
.synthwave-84 {
  --synthwave-84-fg-0: #848bbd;
  --synthwave-84-fg-1: #ff8b39;
  --synthwave-84-fg-2: #b6b1b1;
  --synthwave-84-fg-3: #ff7edb;
  --synthwave-84-fg-4: #fe4450;
  --synthwave-84-fg-5: #fede5d;
  --synthwave-84-fg-6: #f97e72;
  --synthwave-84-fg-7: #36f9f6;
  --synthwave-84-fg-8: #72f1b8;
  --synthwave-84-fg-9: #D50;
  --synthwave-84-fg-10: #2EE2FA;
  --synthwave-84-fg-11: #2ee2fa;
  --synthwave-84-fg-12: #ffffffee;
  --synthwave-84-fg-13: #b6b1b1cc;
  --synthwave-84-fg-14: #ff7edbff;
  --synthwave-84-fs-0: italic;
  --synthwave-84-fs-1: bold;
}