/*** andromeeda styles ***/
.andromeeda .st-bg {
  background-color: #23262E;
}
.andromeeda .st-fg {
  color: #D5CED9;
}
.andromeeda .st-ansiBlue {
  color: #7cb7ff;
}
.andromeeda .st-ansiBrightBlue {
  color: #7cb7ff;
}
.andromeeda .st-ansiBrightCyan {
  color: #00e8c6;
}
.andromeeda .st-ansiBrightGreen {
  color: #96E072;
}
.andromeeda .st-ansiBrightMagenta {
  color: #ff00aa;
}
.andromeeda .st-ansiBrightRed {
  color: #ee5d43;
}
.andromeeda .st-ansiBrightYellow {
  color: #FFE66D;
}
.andromeeda .st-ansiCyan {
  color: #00e8c6;
}
.andromeeda .st-ansiGreen {
  color: #96E072;
}
.andromeeda .st-ansiMagenta {
  color: #ff00aa;
}
.andromeeda .st-ansiRed {
  color: #ee5d43;
}
.andromeeda .st-ansiYellow {
  color: #FFE66D;
}
.andromeeda .st-andromeeda-italic {
  font-style: italic;
}
.andromeeda .st-andromeeda-bold {
  font-weight: bold;
}
.andromeeda .st-andromeeda-underline {
  text-decoration: underline;
}
.andromeeda .st-0 {
  color: #A0A1A7cc;
}
.andromeeda .st-1 {
  color: #D5CED9;
}
.andromeeda .st-2 {
  color: #00e8c6;
}
.andromeeda .st-3 {
  color: #f39c12;
}
.andromeeda .st-4 {
  color: #FFE66D;
}
.andromeeda .st-5 {
  color: #ff00aa;
}
.andromeeda .st-6 {
  color: #f92672;
}
.andromeeda .st-7 {
  color: #c74ded;
}
.andromeeda .st-8 {
  color: #7cb7ff;
}
.andromeeda .st-9 {
  color: #ee5d43;
}
.andromeeda .st-10 {
  color: #96E072;
}
/*** dark-plus styles ***/
.dark-plus .st-bg {
  background-color: #1E1E1E;
}
.dark-plus .st-fg {
  color: #D4D4D4;
}
.dark-plus .st-dark-plus-italic {
  font-style: italic;
}
.dark-plus .st-dark-plus-bold {
  font-weight: bold;
}
.dark-plus .st-dark-plus-underline {
  text-decoration: underline;
}
.dark-plus .st-11 {
  color: #D4D4D4;
}
.dark-plus .st-12 {
  color: #000080;
}
.dark-plus .st-13 {
  color: #6A9955;
}
.dark-plus .st-14 {
  color: #569cd6;
}
.dark-plus .st-15 {
  color: #b5cea8;
}
.dark-plus .st-16 {
  color: #646695;
}
.dark-plus .st-17 {
  color: #d7ba7d;
}
.dark-plus .st-18 {
  color: #9cdcfe;
}
.dark-plus .st-19 {
  color: #f44747;
}
.dark-plus .st-20 {
  color: #ce9178;
}
.dark-plus .st-21 {
  color: #6796e6;
}
.dark-plus .st-22 {
  color: #808080;
}
.dark-plus .st-23 {
  color: #d16969;
}
.dark-plus .st-24 {
  color: #d4d4d4;
}
.dark-plus .st-25 {
  color: #DCDCAA;
}
.dark-plus .st-26 {
  color: #4EC9B0;
}
.dark-plus .st-27 {
  color: #C586C0;
}
.dark-plus .st-28 {
  color: #9CDCFE;
}
.dark-plus .st-29 {
  color: #4FC1FF;
}
.dark-plus .st-30 {
  color: #CE9178;
}
.dark-plus .st-31 {
  color: #C8C8C8;
}
/*** material-theme-lighter styles ***/
.material-theme-lighter .st-bg {
  background-color: #FAFAFA;
}
.material-theme-lighter .st-fg {
  color: #90A4AE;
}
.material-theme-lighter .st-ansiBlack {
  color: #000000;
}
.material-theme-lighter .st-ansiBlue {
  color: #6182B8;
}
.material-theme-lighter .st-ansiBrightBlack {
  color: #90A4AE;
}
.material-theme-lighter .st-ansiBrightBlue {
  color: #6182B8;
}
.material-theme-lighter .st-ansiBrightCyan {
  color: #39ADB5;
}
.material-theme-lighter .st-ansiBrightGreen {
  color: #91B859;
}
.material-theme-lighter .st-ansiBrightMagenta {
  color: #9C3EDA;
}
.material-theme-lighter .st-ansiBrightRed {
  color: #E53935;
}
.material-theme-lighter .st-ansiBrightWhite {
  color: #FFFFFF;
}
.material-theme-lighter .st-ansiBrightYellow {
  color: #E2931D;
}
.material-theme-lighter .st-ansiCyan {
  color: #39ADB5;
}
.material-theme-lighter .st-ansiGreen {
  color: #91B859;
}
.material-theme-lighter .st-ansiMagenta {
  color: #9C3EDA;
}
.material-theme-lighter .st-ansiRed {
  color: #E53935;
}
.material-theme-lighter .st-ansiWhite {
  color: #FFFFFF;
}
.material-theme-lighter .st-ansiYellow {
  color: #E2931D;
}
.material-theme-lighter .st-material-theme-lighter-italic {
  font-style: italic;
}
.material-theme-lighter .st-material-theme-lighter-bold {
  font-weight: bold;
}
.material-theme-lighter .st-material-theme-lighter-underline {
  text-decoration: underline;
}
.material-theme-lighter .st-32 {
  color: #91B859;
}
.material-theme-lighter .st-33 {
  color: #39ADB5;
}
.material-theme-lighter .st-34 {
  color: #90A4AE;
}
.material-theme-lighter .st-35 {
  color: #FF5370;
}
.material-theme-lighter .st-36 {
  color: #F76D47;
}
.material-theme-lighter .st-37 {
  color: #6182B8;
}
.material-theme-lighter .st-38 {
  color: #9C3EDA;
}
.material-theme-lighter .st-39 {
  color: #E53935;
}
.material-theme-lighter .st-40 {
  color: #E2931D;
}
.material-theme-lighter .st-41 {
  color: #8796B0;
}
.material-theme-lighter .st-42 {
  color: #90A4AE90;
}
.material-theme-lighter .st-43 {
  color: #916b53;
}
/*** material-theme-ocean styles ***/
.material-theme-ocean .st-bg {
  background-color: #0F111A;
}
.material-theme-ocean .st-fg {
  color: #babed8;
}
.material-theme-ocean .st-ansiBlack {
  color: #000000;
}
.material-theme-ocean .st-ansiBlue {
  color: #82AAFF;
}
.material-theme-ocean .st-ansiBrightBlack {
  color: #464B5D;
}
.material-theme-ocean .st-ansiBrightBlue {
  color: #82AAFF;
}
.material-theme-ocean .st-ansiBrightCyan {
  color: #89DDFF;
}
.material-theme-ocean .st-ansiBrightGreen {
  color: #C3E88D;
}
.material-theme-ocean .st-ansiBrightMagenta {
  color: #C792EA;
}
.material-theme-ocean .st-ansiBrightRed {
  color: #f07178;
}
.material-theme-ocean .st-ansiBrightWhite {
  color: #ffffff;
}
.material-theme-ocean .st-ansiBrightYellow {
  color: #FFCB6B;
}
.material-theme-ocean .st-ansiCyan {
  color: #89DDFF;
}
.material-theme-ocean .st-ansiGreen {
  color: #C3E88D;
}
.material-theme-ocean .st-ansiMagenta {
  color: #C792EA;
}
.material-theme-ocean .st-ansiRed {
  color: #f07178;
}
.material-theme-ocean .st-ansiWhite {
  color: #ffffff;
}
.material-theme-ocean .st-ansiYellow {
  color: #FFCB6B;
}
.material-theme-ocean .st-material-theme-ocean-italic {
  font-style: italic;
}
.material-theme-ocean .st-material-theme-ocean-bold {
  font-weight: bold;
}
.material-theme-ocean .st-material-theme-ocean-underline {
  text-decoration: underline;
}
.material-theme-ocean .st-44 {
  color: #C3E88D;
}
.material-theme-ocean .st-45 {
  color: #89DDFF;
}
.material-theme-ocean .st-46 {
  color: #babed8;
}
.material-theme-ocean .st-47 {
  color: #ff9cac;
}
.material-theme-ocean .st-48 {
  color: #F78C6C;
}
.material-theme-ocean .st-49 {
  color: #82AAFF;
}
.material-theme-ocean .st-50 {
  color: #C792EA;
}
.material-theme-ocean .st-51 {
  color: #f07178;
}
.material-theme-ocean .st-52 {
  color: #FFCB6B;
}
.material-theme-ocean .st-53 {
  color: #464B5D;
}
.material-theme-ocean .st-54 {
  color: #B2CCD6;
}
.material-theme-ocean .st-55 {
  color: #babed890;
}
.material-theme-ocean .st-56 {
  color: #916b53;
}
/*** material-theme-palenight styles ***/
.material-theme-palenight .st-bg {
  background-color: #292D3E;
}
.material-theme-palenight .st-fg {
  color: #babed8;
}
.material-theme-palenight .st-ansiBlack {
  color: #000000;
}
.material-theme-palenight .st-ansiBlue {
  color: #82AAFF;
}
.material-theme-palenight .st-ansiBrightBlack {
  color: #676E95;
}
.material-theme-palenight .st-ansiBrightBlue {
  color: #82AAFF;
}
.material-theme-palenight .st-ansiBrightCyan {
  color: #89DDFF;
}
.material-theme-palenight .st-ansiBrightGreen {
  color: #C3E88D;
}
.material-theme-palenight .st-ansiBrightMagenta {
  color: #C792EA;
}
.material-theme-palenight .st-ansiBrightRed {
  color: #f07178;
}
.material-theme-palenight .st-ansiBrightWhite {
  color: #ffffff;
}
.material-theme-palenight .st-ansiBrightYellow {
  color: #FFCB6B;
}
.material-theme-palenight .st-ansiCyan {
  color: #89DDFF;
}
.material-theme-palenight .st-ansiGreen {
  color: #C3E88D;
}
.material-theme-palenight .st-ansiMagenta {
  color: #C792EA;
}
.material-theme-palenight .st-ansiRed {
  color: #f07178;
}
.material-theme-palenight .st-ansiWhite {
  color: #ffffff;
}
.material-theme-palenight .st-ansiYellow {
  color: #FFCB6B;
}
.material-theme-palenight .st-material-theme-palenight-italic {
  font-style: italic;
}
.material-theme-palenight .st-material-theme-palenight-bold {
  font-weight: bold;
}
.material-theme-palenight .st-material-theme-palenight-underline {
  text-decoration: underline;
}
.material-theme-palenight .st-57 {
  color: #C3E88D;
}
.material-theme-palenight .st-58 {
  color: #89DDFF;
}
.material-theme-palenight .st-59 {
  color: #babed8;
}
.material-theme-palenight .st-60 {
  color: #ff9cac;
}
.material-theme-palenight .st-61 {
  color: #F78C6C;
}
.material-theme-palenight .st-62 {
  color: #82AAFF;
}
.material-theme-palenight .st-63 {
  color: #C792EA;
}
.material-theme-palenight .st-64 {
  color: #f07178;
}
.material-theme-palenight .st-65 {
  color: #FFCB6B;
}
.material-theme-palenight .st-66 {
  color: #676E95;
}
.material-theme-palenight .st-67 {
  color: #B2CCD6;
}
.material-theme-palenight .st-68 {
  color: #babed890;
}
.material-theme-palenight .st-69 {
  color: #916b53;
}
/*** min-light styles ***/
.min-light .st-bg {
  background-color: #ffffff;
}
.min-light .st-fg {
  color: #24292eff;
}
.min-light .st-ansiBlack {
  color: #333;
}
.min-light .st-ansiBlue {
  color: #e0e0e0;
}
.min-light .st-ansiBrightBlack {
  color: #a1a1a1;
}
.min-light .st-ansiBrightBlue {
  color: #6871ff;
}
.min-light .st-ansiBrightCyan {
  color: #57d9ad;
}
.min-light .st-ansiBrightGreen {
  color: #a3d900;
}
.min-light .st-ansiBrightMagenta {
  color: #a37acc;
}
.min-light .st-ansiBrightRed {
  color: #d6656a;
}
.min-light .st-ansiBrightWhite {
  color: #7E7E7E;
}
.min-light .st-ansiBrightYellow {
  color: #e7c547;
}
.min-light .st-ansiCyan {
  color: #4dbf99;
}
.min-light .st-ansiGreen {
  color: #77cc00;
}
.min-light .st-ansiMagenta {
  color: #9966cc;
}
.min-light .st-ansiRed {
  color: #D32F2F;
}
.min-light .st-ansiWhite {
  color: #c7c7c7;
}
.min-light .st-ansiYellow {
  color: #f29718;
}
.min-light .st-min-light-italic {
  font-style: italic;
}
.min-light .st-min-light-bold {
  font-weight: bold;
}
.min-light .st-min-light-underline {
  text-decoration: underline;
}
.min-light .st-70 {
  color: #24292eff;
}
.min-light .st-71 {
  color: #1976D2;
}
.min-light .st-72 {
  color: #2b5581;
}
.min-light .st-73 {
  color: #c2c3c5;
}
.min-light .st-74 {
  color: #D32F2F;
}
.min-light .st-75 {
  color: #FF9800;
}
.min-light .st-76 {
  color: #6f42c1;
}
.min-light .st-77 {
  color: #22863a;
}
.min-light .st-78 {
  color: #316bcd;
}
.min-light .st-79 {
  color: #cd9731;
}
.min-light .st-80 {
  color: #cd3131;
}
.min-light .st-81 {
  color: #800080;
}
.min-light .st-82 {
  color: #212121;
}
.min-light .st-83 {
  color: #d32f2f;
}
/*** moonlight-ii styles ***/
.moonlight-ii .st-bg {
  background-color: #1F2028;
}
.moonlight-ii .st-fg {
  color: #c8d3f5;
}
.moonlight-ii .st-ansiWhite {
  color: #c8d3f5;
}
.moonlight-ii .st-ansiBlack {
  color: #000000;
}
.moonlight-ii .st-ansiBlue {
  color: #82aaff;
}
.moonlight-ii .st-ansiCyan {
  color: #86e1fc;
}
.moonlight-ii .st-ansiGreen {
  color: #c3e88d;
}
.moonlight-ii .st-ansiMagenta {
  color: #fca7ea;
}
.moonlight-ii .st-ansiRed {
  color: #ff757f;
}
.moonlight-ii .st-ansiYellow {
  color: #ffc777;
}
.moonlight-ii .st-ansiBrightWhite {
  color: #c8d3f5;
}
.moonlight-ii .st-ansiBrightBlack {
  color: #828bb8;
}
.moonlight-ii .st-ansiBrightBlue {
  color: #82aaff;
}
.moonlight-ii .st-ansiBrightCyan {
  color: #86e1fc;
}
.moonlight-ii .st-ansiBrightGreen {
  color: #c3e88d;
}
.moonlight-ii .st-ansiBrightMagenta {
  color: #fca7ea;
}
.moonlight-ii .st-ansiBrightRed {
  color: #ff757f;
}
.moonlight-ii .st-ansiBrightYellow {
  color: #ffc777;
}
.moonlight-ii .st-moonlight-ii-italic {
  font-style: italic;
}
.moonlight-ii .st-moonlight-ii-bold {
  font-weight: bold;
}
.moonlight-ii .st-moonlight-ii-underline {
  text-decoration: underline;
}
.moonlight-ii .st-84 {
  color: #858aa6;
}
.moonlight-ii .st-85 {
  color: #c8d3f5;
}
.moonlight-ii .st-86 {
  color: #ffc777;
}
.moonlight-ii .st-87 {
  color: #7f85a3;
}
.moonlight-ii .st-88 {
  color: #ffffff;
}
.moonlight-ii .st-89 {
  color: #ff5370;
}
.moonlight-ii .st-90 {
  color: #c099ff;
}
.moonlight-ii .st-91 {
  color: #86e1fc;
}
.moonlight-ii .st-92 {
  color: #ff757f;
}
.moonlight-ii .st-93 {
  color: #82aaff;
}
.moonlight-ii .st-94 {
  color: #65bcff;
}
.moonlight-ii .st-95 {
  color: #ff98a4;
}
.moonlight-ii .st-96 {
  color: #ff966c;
}
.moonlight-ii .st-97 {
  color: #fca7ea;
}
.moonlight-ii .st-98 {
  color: #c3e88d;
}
.moonlight-ii .st-99 {
  color: #4fd6be;
}
.moonlight-ii .st-100 {
  color: #a9b8e8;
}
.moonlight-ii .st-101 {
  color: #b4f9f8;
}
.moonlight-ii .st-102 {
  color: #fc7b7b;
}
.moonlight-ii .st-103 {
  color: #828bb8;
}
.moonlight-ii .st-104 {
  color: #b4c2f0;
}
/*** my-eyes-please styles ***/
.my-eyes-please .st-bg {
  background-color: #14161a;
}
.my-eyes-please .st-fg {
  color: #eeffff;
}
.my-eyes-please .st-ansiBlack {
  color: #21252b;
}
.my-eyes-please .st-ansiBrightBlack {
  color: #21252b;
}
.my-eyes-please .st-ansiGreen {
  color: #a0ca60;
}
.my-eyes-please .st-ansiBrightGreen {
  color: #a0ca60;
}
.my-eyes-please .st-ansiYellow {
  color: #f0cc62;
}
.my-eyes-please .st-ansiBrightYellow {
  color: #f0cc62;
}
.my-eyes-please .st-ansiBlue {
  color: #5298d1;
}
.my-eyes-please .st-ansiBrightBlue {
  color: #5298d1;
}
.my-eyes-please .st-ansiMagenta {
  color: #a573c6;
}
.my-eyes-please .st-ansiBrightMagenta {
  color: #a573c6;
}
.my-eyes-please .st-ansiCyan {
  color: #4ba5b6;
}
.my-eyes-please .st-ansiBrightCyan {
  color: #4ba5b6;
}
.my-eyes-please .st-ansiWhite {
  color: #abb2bf;
}
.my-eyes-please .st-ansiBrightWhite {
  color: #abb2bf;
}
.my-eyes-please .st-ansiRed {
  color: #d35b6f;
}
.my-eyes-please .st-ansiBrightRed {
  color: #d35b6f;
}
.my-eyes-please .st-my-eyes-please-italic {
  font-style: italic;
}
.my-eyes-please .st-my-eyes-please-bold {
  font-weight: bold;
}
.my-eyes-please .st-my-eyes-please-underline {
  text-decoration: underline;
}
.my-eyes-please .st-105 {
  color: #333942;
}
.my-eyes-please .st-106 {
  color: #384457;
}
.my-eyes-please .st-107 {
  color: #df5e65;
}
.my-eyes-please .st-108 {
  color: #ffffff;
}
.my-eyes-please .st-109 {
  color: #FF5370;
}
.my-eyes-please .st-110 {
  color: #f0cc62;
}
.my-eyes-please .st-111 {
  color: #68a6e0;
}
.my-eyes-please .st-112 {
  color: #5298d1;
}
.my-eyes-please .st-113 {
  color: #f07178;
}
.my-eyes-please .st-114 {
  color: #8fa866;
}
.my-eyes-please .st-115 {
  color: #e2714e;
}
.my-eyes-please .st-116 {
  color: #59b47c;
}
.my-eyes-please .st-117 {
  color: #398b59;
}
.my-eyes-please .st-118 {
  color: #C792EA;
}
.my-eyes-please .st-119 {
  color: #e2854f;
}
.my-eyes-please .st-120 {
  color: #82AAFF;
}
.my-eyes-please .st-121 {
  color: #f09b62;
}
.my-eyes-please .st-122 {
  color: #C3E88D;
}
.my-eyes-please .st-123 {
  color: #89DDFF;
}
.my-eyes-please .st-124 {
  color: #d1dae6;
}
.my-eyes-please .st-125 {
  color: #618c8f;
}
.my-eyes-please .st-126 {
  color: #ae70d8;
}
.my-eyes-please .st-127 {
  color: #d35b6f;
}
.my-eyes-please .st-128 {
  color: #3d95a5;
}
.my-eyes-please .st-129 {
  color: #547dd6;
}
.my-eyes-please .st-130 {
  color: #df6d73;
}
.my-eyes-please .st-131 {
  color: #a0ca60;
}
.my-eyes-please .st-132 {
  color: #EEFFFF;
}
.my-eyes-please .st-133 {
  color: #65737E;
}
.my-eyes-please .st-134 {
  color: #cccbcb;
}
.my-eyes-please .st-135 {
  color: #86bae6;
}
.my-eyes-please .st-136 {
  color: #FFCB6B;
}
.my-eyes-please .st-137 {
  color: #00000050;
}
/*** one-dark-pro styles ***/
.one-dark-pro .st-bg {
  background-color: #282c34;
}
.one-dark-pro .st-fg {
  color: #abb2bf;
}
.one-dark-pro .st-ansiBlack {
  color: #3f4451;
}
.one-dark-pro .st-ansiBlue {
  color: #4aa5f0;
}
.one-dark-pro .st-ansiBrightBlack {
  color: #4f5666;
}
.one-dark-pro .st-ansiBrightBlue {
  color: #4dc4ff;
}
.one-dark-pro .st-ansiBrightCyan {
  color: #4cd1e0;
}
.one-dark-pro .st-ansiBrightGreen {
  color: #a5e075;
}
.one-dark-pro .st-ansiBrightMagenta {
  color: #de73ff;
}
.one-dark-pro .st-ansiBrightRed {
  color: #ff616e;
}
.one-dark-pro .st-ansiBrightWhite {
  color: #e6e6e6;
}
.one-dark-pro .st-ansiBrightYellow {
  color: #f0a45d;
}
.one-dark-pro .st-ansiCyan {
  color: #42b3c2;
}
.one-dark-pro .st-ansiGreen {
  color: #8cc265;
}
.one-dark-pro .st-ansiMagenta {
  color: #c162de;
}
.one-dark-pro .st-ansiRed {
  color: #e05561;
}
.one-dark-pro .st-ansiWhite {
  color: #d7dae0;
}
.one-dark-pro .st-ansiYellow {
  color: #d18f52;
}
.one-dark-pro .st-one-dark-pro-italic {
  font-style: italic;
}
.one-dark-pro .st-one-dark-pro-bold {
  font-weight: bold;
}
.one-dark-pro .st-one-dark-pro-underline {
  text-decoration: underline;
}
.one-dark-pro .st-138 {
  color: #abb2bf;
}
.one-dark-pro .st-139 {
  color: #e06c75;
}
.one-dark-pro .st-140 {
  color: #c678dd;
}
.one-dark-pro .st-141 {
  color: #d19a66;
}
.one-dark-pro .st-142 {
  color: #e5c07b;
}
.one-dark-pro .st-143 {
  color: #61afef;
}
.one-dark-pro .st-144 {
  color: #5c6370;
}
.one-dark-pro .st-145 {
  color: #98c379;
}
.one-dark-pro .st-146 {
  color: #56b6c2;
}
.one-dark-pro .st-147 {
  color: #ffffff;
}
.one-dark-pro .st-148 {
  color: #f44747;
}
.one-dark-pro .st-149 {
  color: #7f848e;
}
.one-dark-pro .st-150 {
  color: #BE5046;
}
/*** red styles ***/
.red .st-bg {
  background-color: #390000;
}
.red .st-fg {
  color: #F8F8F8;
}
.red .st-red-italic {
  font-style: italic;
}
.red .st-red-bold {
  font-weight: bold;
}
.red .st-red-underline {
  text-decoration: underline;
}
.red .st-151 {
  color: #F8F8F8;
}
.red .st-152 {
  color: #e7c0c0ff;
}
.red .st-153 {
  color: #994646ff;
}
.red .st-154 {
  color: #f12727ff;
}
.red .st-155 {
  color: #fec758ff;
}
.red .st-156 {
  color: #ff6262ff;
}
.red .st-157 {
  color: #cd8d8dff;
}
.red .st-158 {
  color: #9df39fff;
}
.red .st-159 {
  color: #fb9a4bff;
}
.red .st-160 {
  color: #ffffffff;
}
.red .st-161 {
  color: #aa5507ff;
}
.red .st-162 {
  color: #ec0d1e;
}
.red .st-163 {
  color: #ffe862ff;
}
.red .st-164 {
  color: #ffb454ff;
}
.red .st-165 {
  color: #edef7dff;
}
.red .st-166 {
  color: #eb939aff;
}
.red .st-167 {
  color: #73817dff;
}
.red .st-168 {
  color: #ec0d1eff;
}
.red .st-169 {
  color: #41a83eff;
}
.red .st-170 {
  color: #96dd3bff;
}
.red .st-171 {
  color: #fd6209ff;
}
.red .st-172 {
  color: #ec9799ff;
}
.red .st-173 {
  color: #f8f8f8ff;
}
/*** solarized-light styles ***/
.solarized-light .st-bg {
  background-color: #FDF6E3;
}
.solarized-light .st-fg {
  color: #657B83;
}
.solarized-light .st-ansiBlack {
  color: #073642;
}
.solarized-light .st-ansiBlue {
  color: #268bd2;
}
.solarized-light .st-ansiBrightBlack {
  color: #002b36;
}
.solarized-light .st-ansiBrightBlue {
  color: #839496;
}
.solarized-light .st-ansiBrightCyan {
  color: #93a1a1;
}
.solarized-light .st-ansiBrightGreen {
  color: #586e75;
}
.solarized-light .st-ansiBrightMagenta {
  color: #6c71c4;
}
.solarized-light .st-ansiBrightRed {
  color: #cb4b16;
}
.solarized-light .st-ansiBrightWhite {
  color: #fdf6e3;
}
.solarized-light .st-ansiBrightYellow {
  color: #657b83;
}
.solarized-light .st-ansiCyan {
  color: #2aa198;
}
.solarized-light .st-ansiGreen {
  color: #859900;
}
.solarized-light .st-ansiMagenta {
  color: #d33682;
}
.solarized-light .st-ansiRed {
  color: #dc322f;
}
.solarized-light .st-ansiWhite {
  color: #eee8d5;
}
.solarized-light .st-ansiYellow {
  color: #b58900;
}
.solarized-light .st-solarized-light-italic {
  font-style: italic;
}
.solarized-light .st-solarized-light-bold {
  font-weight: bold;
}
.solarized-light .st-solarized-light-underline {
  text-decoration: underline;
}
.solarized-light .st-174 {
  color: #657B83;
}
.solarized-light .st-175 {
  color: #93A1A1;
}
.solarized-light .st-176 {
  color: #2AA198;
}
.solarized-light .st-177 {
  color: #DC322F;
}
.solarized-light .st-178 {
  color: #D33682;
}
.solarized-light .st-179 {
  color: #268BD2;
}
.solarized-light .st-180 {
  color: #859900;
}
.solarized-light .st-181 {
  color: #586E75;
}
.solarized-light .st-182 {
  color: #CB4B16;
}
.solarized-light .st-183 {
  color: #B58900;
}
.solarized-light .st-184 {
  color: #6C71C4;
}
/*** synthwave-84 styles ***/
.synthwave-84 .st-bg {
  background-color: #262335;
}
.synthwave-84 .st-fg {
  color: #bbbbbb;
}
.synthwave-84 .st-ansiBlue {
  color: #03edf9;
}
.synthwave-84 .st-ansiBrightBlue {
  color: #03edf9;
}
.synthwave-84 .st-ansiBrightCyan {
  color: #03edf9;
}
.synthwave-84 .st-ansiBrightGreen {
  color: #72f1b8;
}
.synthwave-84 .st-ansiBrightMagenta {
  color: #ff7edb;
}
.synthwave-84 .st-ansiBrightRed {
  color: #fe4450;
}
.synthwave-84 .st-ansiBrightYellow {
  color: #fede5d;
}
.synthwave-84 .st-ansiCyan {
  color: #03edf9;
}
.synthwave-84 .st-ansiGreen {
  color: #72f1b8;
}
.synthwave-84 .st-ansiMagenta {
  color: #ff7edb;
}
.synthwave-84 .st-ansiRed {
  color: #fe4450;
}
.synthwave-84 .st-ansiYellow {
  color: #f3e70f;
}
.synthwave-84 .st-synthwave-84-italic {
  font-style: italic;
}
.synthwave-84 .st-synthwave-84-bold {
  font-weight: bold;
}
.synthwave-84 .st-synthwave-84-underline {
  text-decoration: underline;
}
.synthwave-84 .st-185 {
  color: #848bbd;
}
.synthwave-84 .st-186 {
  color: #ff8b39;
}
.synthwave-84 .st-187 {
  color: #b6b1b1;
}
.synthwave-84 .st-188 {
  color: #ff7edb;
}
.synthwave-84 .st-189 {
  color: #fe4450;
}
.synthwave-84 .st-190 {
  color: #fede5d;
}
.synthwave-84 .st-191 {
  color: #f97e72;
}
.synthwave-84 .st-192 {
  color: #36f9f6;
}
.synthwave-84 .st-193 {
  color: #72f1b8;
}
.synthwave-84 .st-194 {
  color: #D50;
}
.synthwave-84 .st-195 {
  color: #2EE2FA;
}
.synthwave-84 .st-196 {
  color: #2ee2fa;
}
.synthwave-84 .st-197 {
  color: #ffffffee;
}
.synthwave-84 .st-198 {
  color: #b6b1b1cc;
}
.synthwave-84 .st-199 {
  color: #ff7edbff;
}