---
import BaseLayout from '../../layouts/BaseLayout.astro'

const props = {
  title: 'vanntile - brand book',
  publishedAt: new Date('2021-12-24'),
  summary: 'Design brand book for vanntiles aesthetics',
  image: 'deck/banner-deck.png',
  imageAlt: 'Banner image for the brand book',
  keywords: ['design', 'branding', 'graphic design', 'brand book', 'design deck'],
}
---

<BaseLayout frontmatter={props} withNav={false}>
  <main
    class="relative bottom-0 mt-2 h-[calc(100vh-84px)] w-screen snap-y snap-mandatory snap-center overflow-y-scroll bg-gray-900 px-4"
  >
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="eager"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.1.webp"
        alt="vanntile brand deck cover page"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="eager"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.2.webp"
        alt="brand deck project description"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.3.webp"
        alt="brand personality"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img loading="lazy" class="object-fit aspect-video max-h-full" src="/assets/deck/page.4.webp" alt="logo" />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.5.webp"
        alt="logo with primary version color scheme"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.6.webp"
        alt="logomark with primary version color scheme"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.7.webp"
        alt="logo with monochrome color scheme"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.8.webp"
        alt="logomark assembly from shapes"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.9.webp"
        alt="logo grid overlap"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.10.webp"
        alt="step by step visual refinement of logo"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.11.webp"
        alt="adaptability of the logo"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.12.webp"
        alt="logo construction: tyeface sizing"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.13.webp"
        alt="logo construction: spacing"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.14.webp"
        alt="logo construction: whitespace"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.15.webp"
        alt="all logo versions"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.16.webp"
        alt="brand color palette"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.17.webp"
        alt="brand typography"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.18.webp"
        alt="main shape pattern"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.19.webp"
        alt="secondary brand patterns"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.20.webp"
        alt="signs and expressions of the logo"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.21.webp"
        alt="iconography"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.22.webp"
        alt="stationery usage of the brand elements"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.23.webp"
        alt="social media usage"
      />
    </div>
    <div class="flex h-full snap-center items-center justify-center pb-4">
      <img
        loading="lazy"
        class="object-fit aspect-video max-h-full"
        src="/assets/deck/page.24.webp"
        alt="profile page mockup"
      />
    </div>
  </main>
</BaseLayout>
