---
const homepage = new URL(Astro.request.url).href
---

<script>
  import '@botpoison/browser'

  const checkForm = (_event: Event) => {
    const form = document.querySelector('#contactForm')
    const btn = document.querySelector(`#contactForm > button[type="submit"]`)

    if (!form || !btn) return

    form.addEventListener('botpoison-challenge-start', () => {
      btn.setAttribute('disabled', 'disabled')
    })
    form.addEventListener('botpoison-challenge-success', () => {
      btn.removeAttribute('disabled')
    })
    form.addEventListener('botpoison-challenge-error', () => {
      btn.removeAttribute('disabled')
    })
  }

  window.addEventListener('DOMContentLoaded', checkForm)
</script>

<form
  id="contactForm"
  action="https://submit-form.com/AF25jUc0"
  method="POST"
  data-botpoison-public-key="pk_84f1e813-2282-41cb-b3cd-bdbed4bc6153"
  class="my-4 border border-current p-4 pt-0"
>
  <h3>Send me a message</h3>
  <div class="mb-4 flex flex-col">
    <label for="name">Your name *</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="A curious person"
      auto-complete="on"
      required
      class="w-full border-2 border-gray-900 bg-gray-800 px-4 py-2 focus:border-current focus:outline-none"
    />
  </div>
  <div class="mb-4 flex flex-col">
    <label for="email">Email *</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="curious@acme.com"
      auto-complete="on"
      required
      class="w-full border-2 border-gray-900 bg-gray-800 px-4 py-2 focus:border-current focus:outline-none"
    />
  </div>
  <div class="mb-4 flex flex-col">
    <label for="message">Message *</label>
    <textarea
      rows={5}
      id="message"
      name="message"
      required
      class="w-full border-2 border-gray-900 bg-gray-800 px-4 py-2 focus:border-current focus:outline-none"></textarea>
  </div>
  <input type="hidden" name="_redirect" value={homepage} />
  <input type="hidden" name="_append" value="false" />
  <button
    type="submit"
    class="duration-50 mt-4 w-full cursor-pointer border-2 border-current px-4 py-2 text-xl font-semibold transition hover:bg-brand-accent hover:text-gray-900 focus:outline-none"
  >
    Send
  </button>
</form>
