<script is:inline>
  window.addEventListener('DOMContentLoaded', (event) => {
    const html = document.querySelector('html')
    const lightThemeBtn = document.querySelector('#lightThemeBtn')
    const darkThemeBtn = document.querySelector('#darkThemeBtn')
    const switchBtn = document.querySelector('#switch')

    const savedTheme = window.localStorage.getItem('theme')
    if (savedTheme === 'light') {
      switchBtn.setAttribute('aria-checked', true)
      switchBtn.classList.remove('bg-brand-tint')
      switchBtn.classList.add('bg-gray-300')
      switchBtn.children[0].classList.remove('translate-x-7')
      lightThemeBtn.setAttribute('fill', 'currentColor')
      darkThemeBtn.setAttribute('fill', 'none')
    }

    document.querySelector('#themeToggler').addEventListener('click', (event) => {
      const isDarkTheme = html.classList.value.includes('dark')

      switchBtn.setAttribute('aria-checked', !isDarkTheme)
      switchBtn.classList.toggle('bg-brand-tint')
      switchBtn.classList.toggle('bg-gray-300')
      switchBtn.children[0].classList.toggle('translate-x-7')
      lightThemeBtn.setAttribute('fill', isDarkTheme ? 'currentColor' : 'none')
      darkThemeBtn.setAttribute('fill', isDarkTheme ? 'none' : 'currentColor')

      html.classList.toggle('dark')
      window.localStorage.setItem('theme', isDarkTheme ? 'light' : 'dark')
    })
  })
</script>

<nav
  class="sticky top-0 z-10 mx-auto flex w-full flex-row items-center justify-end gap-8 rounded-b-md bg-white py-4 ring-4 ring-white xl:max-w-5xl 2xl:max-w-6xl dark:bg-gray-900 dark:ring-gray-900"
>
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <div id="themeToggler" class="flex cursor-pointer items-center justify-center px-4 py-2">
    <svg id="lightThemeBtn" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
      ></path>
    </svg>
    <button
      id="switch"
      role="switch"
      aria-pressed="true"
      aria-label="Toggle dark mode"
      class="mx-3 flex h-7 w-14 items-center rounded-full bg-brand-tint px-1 ring-gray-700 focus:outline-none focus:ring-2 dark:ring-gray-100 dark:ring-offset-2"
    >
      <div class="h-5 w-5 translate-x-7 rounded-full bg-white shadow-md transition-transform"></div>
    </button>
    <svg id="darkThemeBtn" class="h-6 w-6 text-gray-500" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
    </svg>
  </div>
</nav>
