---
interface Props {
  size?: string
  tags: string[]
  class?: string
}

const { size, tags, class: styles } = Astro.props as Props
---

<div class={`pb-2 flex flex-row flex-wrap gap-2`}>
  {
    tags.map((s: string) => (
      <span
        class={`whitespace-nowrap px-4 py-2 font-semibold ${styles} ${
          size === 'lg' ? 'rounded-2xl text-xs' : 'rounded text-sm'
        }`}
      >
        {s}
      </span>
    ))
  }
</div>
