---
interface Props {
  tags: string[]
  styles?: string
}

const { tags, styles } = Astro.props as Props
---

<div class={`mt-1 pb-2 overflow-hidden flex flex-row flex-wrap space-x-2`}>
  {tags.map((s: string) => (
    <span class={`mb-2 px-4 py-2 whitespace-nowrap text-sm font-semibold rounded ${styles}`}>{s}</span>
  ))}
</div>
