---
interface Props {
  size?: string
  tags: string[]
  class?: string
}

const { size, tags, class: styles } = Astro.props as Props
---

<div class={`pb-2 flex flex-row flex-wrap gap-2`}>
  {
    tags.map((s: string) => (
      <span
        class={`px-4 py-2 whitespace-nowrap font-semibold ${styles} ${
          size === 'lg' ? 'text-xs rounded-2xl' : 'text-sm rounded'
        }`}
      >
        {s}
      </span>
    ))
  }
</div>
