@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Objectivity';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/fonts/Objectivity-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Objectivity';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/fonts/Objectivity-Bold.woff2') format('woff2');
  }

  /* Stop any animation if the user has set their device to "prefers reduced motion". */
  /* stylelint-disable-next-line at-rule-no-unknown */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
      animation-duration: 0.1s !important;
      transition-duration: 0.1s !important;
    }
  }

  html {
    scroll-behavior: smooth;
    min-width: 320px;
  }

  body {
    @apply text-sm leading-6 text-gray-700 dark:text-brand-tint md:text-base md:leading-7 2xl:text-2xl 2xl:leading-relaxed;
  }

  /* Remove Safari input shadow on mobile */
  input[type='text'],
  input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  h1 {
    @apply mt-0 text-3xl font-extrabold text-gray-900 dark:text-gray-100 md:text-4xl 2xl:leading-none 2xl:text-7xl;
    margin-bottom: 0.875em;
  }

  h2 {
    @apply text-2xl font-bold text-gray-900 dark:text-brand-tint md:text-2xl 2xl:text-5xl 2xl:leading-none;
    margin-top: 1.6em;
    margin-bottom: 0.75em;
  }

  h3, h4 {
    @apply font-semibold;
    margin-top: 1.55em;
    margin-bottom: 0.6em;
  }

  h3 {
    @apply text-lg md:text-xl 2xl:text-4xl 2xl:leading-tight;
  }

  h4 {
    @apply leading-5 md:leading-normal;
  }

  :is(h2, h3, h4) {
    scroll-margin-top: 3rem;
  }

  p {
    @apply my-4 md:my-5 2xl:my-8;
  }

  figure > * {
    @apply my-0;
  }

  :is(h2, h3, h4) + * {
    @apply mt-0;
  }

  a {
    @apply relative font-bold no-underline text-brand hover:text-brand dark:text-brand-accent;
  }

  a::after {
    @apply absolute left-0 w-full h-1 transition-transform duration-500 origin-right scale-x-0 bg-current -bottom-2;
    content: "";
  }

  :is(a:hover, a:focus)::after {
    @apply origin-left scale-x-100;
  }

  /* Quotes, pre, code */

  blockquote {
    @apply pl-4 my-6 italic font-medium text-gray-900 border-l-4 border-gray-200 dark:border-gray-700 dark:text-gray-300 md:my-8 2xl:my-16 md:pl-5 2xl:pl-8;
    quotes: "\\201C" "\\201D" "\\2018" "\\2019";
  }

  pre {
    @apply px-3 py-2 my-5 overflow-x-auto text-gray-800 border border-gray-200 rounded dark:border-gray-600 dark:bg-gray-900 dark:text-gray-200 bg-gray-50 md:my-6 2xl:my-8 md:px-4 md:py-3 2xl:px-8 2xl:py-7;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  code {
    @apply text-xs font-medium text-gray-900 2xl:font-semibold dark:bg-gray-900 dark:text-gray-200 bg-gray-50 md:text-base 2xl:text-xl;
  }

  a code {
    @apply text-brand dark:text-brand-accent;
  }

  h2 code, h3 code {
    font-size: inherit;
  }

  /* Lists */
  ol, ul {
    @apply my-4 md:my-5 2xl:my-8;
  }

  li, ul > li p {
    @apply my-1 md:my-2 2xl:my-3;
  }

  ol > li {
    @apply relative pl-5 md:pl-7 2xl:pl-10;
  }

  ul > li {
    @apply relative ml-5 list-disc md:ml-7 2xl:ml-10;
  }

  ol > li::before {
    @apply absolute left-0 font-normal text-current;
    content: counter(list-item, decimal) ".";
  }

  ul > li::marker {
    @apply text-lg text-current md:text-xl 2xl:text-3xl;
  }

  :is(ol, ul) > li > *:first-child {
    @apply mt-4 md:mt-5 2xl:mt-8;
  }

  :is(ol, ul) > li > *:last-child {
    @apply mb-4 md:mb-5 2xl:mb-8;
  }

  ul ul, ul ol, ol ul, ol ol {
    @apply my-3 md:my-3 2xl:my-4;
  }

  /* Images */
  :is(img, video, figure) {
    @apply my-5;
  }

  figure figcaption {
    @apply leading-snug;
    font-size: 0.875em;
    margin-top: 0.875em;
  }

  @screen md {
    :is(h2, h3, h4) {
      scroll-margin-top: 8rem;
    }
  }
}

.pseudo-none::before, .pseudo-none:hover::before, .pseudo-none:focus::before,
.pseudo-none::after, .pseudo-none:hover::after, .pseudo-none:focus::after,
pre::-webkit-scrollbar {
  display: none!important;
}

/*** remark-code-title ***/
.remark-code-title {
  @apply px-3 py-2 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t dark:bg-gray-800 dark:text-gray-200 2xl:text-lg dark:border-gray-600 md:px-4 md:py-3 2xl:px-8 2xl:py-7;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

/*** mdxPrism code highlighting ***/
.token:is(.comment,.prolog,.doctype,.cdata) {
  @apply text-gray-700 dark:text-green-500;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token:is(.property,.tag,.boolean,.number,.unit,.constant,.symbol,.deleted) {
  @apply text-green-500 dark:text-yellow-400;
}

.token:is(.selector,.attr-value,.string,.char,.builtin,.inserted) {
  @apply text-purple-500 dark:text-red-400;
}

.token:is(.operator,.entity,.url,.attr-name),
:is(.language-css,.language-scss,.style) .token.property {
  @apply text-blue-800 dark:text-blue-300;
}

.token:is(.atrule,.maybe-class-name) {
  @apply text-blue-800 dark:text-yellow-400;
}

.token:is(.function,.class-name,.keyword) {
  @apply text-pink-600 dark:text-white;
}

.token:is(.regex,.important,.variable) {
  @apply text-pink-600 dark:text-blue-300;
}

/*** remark-hint styling ***/
.hint {
  @apply p-4 my-4 border;
}

.hint.tip {
  @apply text-blue-900 border-blue-300 dark:text-blue-200 dark:border-blue-500 bg-blue-50 dark:bg-blue-900;
}

.hint.tip::selection {
  @apply bg-blue-900 text-gray-50 dark:bg-gray-50 dark:text-blue-900;
}

.hint.warn {
  @apply text-yellow-900 border-yellow-300 dark:text-gray-900 bg-yellow-50 dark:bg-yellow-500;
}

.hint.warn::selection {
  @apply bg-yellow-500 text-gray-50 dark:bg-gray-50 dark:text-gray-900;
}

.hint.error {
  @apply text-red-500 border-red-200 dark:text-red-200 dark:border-red-900 bg-red-50 dark:bg-red-800;
}

.hint.error::selection {
  @apply bg-red-900 text-gray-50 dark:bg-gray-50 dark:text-red-900;
}

/*** remark-autolink-headings - link hash, similar to GitHub ones ***/
:is(h1, h2, h3, h4):hover > .icon-link {
  @apply opacity-100;
}

.icon-link {
  @apply absolute -ml-6 text-gray-400 no-underline shadow-none opacity-0 2xl:-ml-12 hover:text-gray-400 hover:no-underline;
}

.icon-link::before {
  content: "#";
}

.will-change {
  will-change: transform;
}

/* Common styles */

.cta {
  @apply px-4 py-2 mb-2 border-2 border-current text-brand-accent hover:text-brand-accent;
}
